.item {
    box-shadow: 0 0 3px #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}
.item .name {
    color: palevioletred;
    font-size: 20px;
}

.item .price {
    text-align: center;
    color: rgba(0, 0, 0, 0.59);
    font-size: 20px;
}

.item button {
    background-color: darkgreen !important;
    color: white !important;
    margin-top: 10px;
}

<<<<<<< Updated upstream
=======
input {
    border: 1px solid rgba(7, 28, 86, 0.621) !important;
    box-shadow: none !important;
    outline : none !important;
}

input:focus {
    box-shadow: none !important;
    outline : none !important;
}

.ant-select-selector {
    border: 1px solid rgba(7, 28, 86, 0.621) !important;
    box-shadow: none !important;
    outline : none !important;
}
>>>>>>> Stashed changes
